/**
 * Diamond Specific Styles
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 10%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.popover-title:empty {
  display: none;
}
.popover-content {
  padding: 9px 14px;
}
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: 11px;
}
.popover .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right .arrow:after {
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.popover.bottom .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left .arrow:after {
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}
/**
 * Global Styles
 */
.pipe {
  color: #eeeeee;
  padding: 0 7px;
}
a.btn:visited {
  color: #ffffff;
}
/**
 *	Mixins
 */
.capitalize {
  text-transform: capitalize;
}
.border-box {
  moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * General Form Styles
 */
form select {
  width: 100%;
}
/**
 * General Layout Styles
 */
html {
  overflow-y: auto !important;
}
html body {
  background-color: #000 !important;
}
html body #page header#page-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
html body #page header#page-header #navbar.navbar {
  margin: 0;
  padding: 120px 0 0 0;
  background-color: #000;
}
html body #page header#page-header #navbar.navbar .navbar-inner {
  width: 900px;
  margin: 0 auto;
  background: #000;
  border: none;
  border-radius: 0;
}
html body #page header#page-header #navbar.navbar .navbar-inner .site-title {
  text-indent: -9999px;
  background: url('../images/logo.png') no-repeat;
  display: block;
  width: 163px;
  height: 44px;
  padding: 0;
  margin-bottom: 15px;
}
html body #page header#page-header #navbar.navbar .navbar-inner .shoppingcart {
  background: url('../images/cart-icon.png') no-repeat;
  display: block;
  width: 27px;
  height: 21px;
  text-indent: -9999px;
  margin-top: 15px;
}
html body #page #main {
  position: relative;
  overflow: hidden;
  min-height: 600px;
  margin: 179px 0 0 0;
  padding-top: 0;
  background-color: #FFF;
}
html body #page #main .background-image {
  width: 100%;
  position: absolute;
  top: -1px;
}
html body footer#colophon {
  z-index: 9999;
  background-color: #000;
  overflow: hidden;
}
html body footer#colophon #menu-footer-menu {
  padding: 20px;
}
html body footer#colophon #menu-footer-menu li {
  list-style: none;
}
html body footer#colophon #menu-footer-menu li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #CCC;
}
/*
 * Default: Page
 */
body.page-template-default form {
  text-transform: uppercase;
}
body.page-template-default form p {
  color: #888;
  font-size: 13px;
}
body.page-template-default form input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  color: #444;
}
body.page-template-default form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  color: #444;
}
body.page-template-default form #send-mail {
  width: 100px;
  background-color: #f0bdb7;
  box-shadow: none;
  border-radius: 0;
  border: none;
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: none;
}
body.page-template-default div.wpcf7-validation-errors {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}
body.page-template-default .wpcf7-not-valid-tip {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  top: -11px;
  right: 0;
  left: auto;
  min-width: 150px;
  width: auto;
}
body.page-template-default article {
  position: relative;
  z-index: 10;
}
body.page-template-default article .attachment-post-thumbnail {
  position: absolute;
  margin: 0 0 0 125px;
  z-index: -99;
}
body.page-template-default article header {
  margin-top: 30px;
}
body.page-template-default article .entry-content {
  margin-top: 0px;
}
/**
 * Front Page
 */
body.home i.tab.brown {
  width: 10px;
  height: 100%;
  background-color: #603737;
  position: absolute;
  left: 0;
  top: 0;
}
body.home #menu-highlight-menu {
  position: absolute;
  right: 0;
  bottom: 50%;
}
body.home #menu-highlight-menu li {
  list-style: none;
  clear: both;
}
body.home #menu-highlight-menu li a {
  color: #FFF;
  padding: 8px 10px 8px 22px;
  background-color: rgba(44, 44, 44, 0.6);
  min-width: 120px;
  display: block;
  position: relative;
  margin-bottom: 8px;
}
/**
 * Single Products Page
 * Note: Most styles here are for the Minster bag in particular
 */
body.single-products #page #main {
  background-color: #fefefd;
}
body.single-products #page #main #content article {
  position: relative;
}
body.single-products #page #main #content article .product-header {
  position: fixed;
}
body.single-products #page #main #content article .product-content {
  position: fixed;
  margin: 0 0 0 805px;
}
body.single-products #page #main #content article .product-scroll {
  width: 615px;
  margin-left: 205px;
}
body.single-products #page #main #content article #checkoutModal {
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 100px;
  z-index: 99999;
  border-radius: 0;
  border: none;
  moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFF;
  background: url('../images/checkout-beth.png') no-repeat center center fixed #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.single-products #page #main #content article #checkoutModal .modal-header,
body.single-products #page #main #content article #checkoutModal .modal-body,
body.single-products #page #main #content article #checkoutModal .modal-footer {
  width: 600px;
}
body.single-products .jquery-color-selection ul {
  margin: 0;
}
body.single-products .jquery-color-selection ul li {
  list-style: none;
}
body.single-products .jquery-color-selection ul li a {
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding: 8px 10px;
  border: 1px solid #EFEFEF;
}
body.single-products .jquery-color-selection ul li a.white {
  background-color: #FFF;
  color: #FFF;
}
body.single-products .jquery-color-selection ul li a.black {
  background-color: #000;
  color: #000;
}
body.single-products .jquery-color-selection ul li a.taupe {
  background-color: #bcb1a1;
  color: #bcb1a1;
}
body.single-products .jquery-color-selection ul li a.selected {
  color: #FFF;
}
body.single-products .jquery-color-selection ul li a:hover {
  text-decoration: none;
}
/**
 * Shopping Cart Styles
 */
.shoppingcartshow {
  cursor: pointer;
}
.shopping-cart-product .product-color {
  text-transform: capitalize;
}
.shopping-cart-product a.btn.remove {
  background: none;
  border: none;
  padding: 0;
  color: #BBB;
  margin: -5px 0 0 10px;
}
.clearcart {
  cursor: pointer;
}
/**
 * Checkout Styles
 */
input.error {
  border: 1px solid #b94a48 !important;
}
.popover {
  min-width: 290px;
  max-width: none;
}
.popover-content .product-subtotal {
  display: none;
}
.popover-content .checkout-totals {
  display: none;
}
/*
 * Media Queries
 */
@media (min-width: 1200px) {
  
}
@media (max-width: 1200px) {
  
}
@media (max-width: 979px) {
  
}
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 479px) {
  
}
