/**
 * Diamond Specific Styles
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 10%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.popover-title:empty {
  display: none;
}
.popover-content {
  padding: 9px 14px;
}
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: 11px;
}
.popover .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right .arrow:after {
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.popover.bottom .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left .arrow:after {
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}
/**
 *	Fonts
 */
@font-face {
  font-family: 'Ever After';
  src: url('../fonts/everafte-webfont.eot');
  src: url('../fonts/everafte-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/everafte-webfont.woff') format('woff'), url('../fonts/everafte-webfont.ttf') format('truetype'), url('../fonts/everafte-webfont.svg#ever_afterregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ostrich';
  src: url('../fonts/ostrich-regular-webfont.eot');
  src: url('../fonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ostrich-regular-webfont.woff') format('woff'), url('../fonts/ostrich-regular-webfont.ttf') format('truetype'), url('../fonts/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ostrich Light';
  src: url('../fonts/ostrich-light-webfont.eot');
  src: url('../fonts/ostrich-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ostrich-light-webfont.woff') format('woff'), url('../fonts/ostrich-light-webfont.ttf') format('truetype'), url('../fonts/ostrich-light-webfont.svg#ostrich_sanscondensed_light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Learning Curve Pro';
  src: url('../fonts/learningcurve_ot-webfont.eot');
  src: url('../fonts/learningcurve_ot-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/learningcurve_ot-webfont.woff') format('woff'), url('../fonts/learningcurve_ot-webfont.ttf') format('truetype'), url('../fonts/learningcurve_ot-webfont.svg#learning_curve_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
#font-family .ever-after {
  font-family: 'Ever After', 'sans-serif';
  font-weight: normal;
}
#font-family .ostrich {
  font-family: 'Ostrich', 'serif';
  font-weight: normal;
}
#font-family .ostrich-light {
  font-family: 'Ostrich Light', 'serif';
  font-weight: normal;
}
#font-family .learning-curve {
  font-family: 'Learning Curve Pro', 'serif';
  font-weight: normal;
}
#font-family .source-sans-pro {
  font-family: 'Source Sans Pro', 'serif';
  font-weight: normal;
}
#font-family .georgia {
  font-family: 'Georgia', serif;
  font-weight: normal;
}
#font-family .raleway {
  font-family: 'Raleway', serif;
  font-weight: normal;
}
/**
 *	Mixins
 */
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.capitalize {
  text-transform: capitalize;
}
.border-box {
  moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.no-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/**
 * Global Styles
 */
.pipe {
  color: #eeeeee;
  padding: 0 7px;
}
a.btn:visited {
  color: #ffffff;
}
.btn.btn-primary,
.btn.btn-primary:visited,
.btn.btn-primary:focus {
  background-color: transparent;
  border: 0;
  text-shadow: none;
  border-radius: 0;
  box-shadow: none;
  display: block;
  font-family: 'Georgia', serif;
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
  background: url('../images/various-ribbons.png') 50% 0 no-repeat;
  width: 190px;
  height: 23px;
  padding: 5px;
  margin: 18px 0 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.btn.btn-primary:hover,
.btn.btn-primary:visited:hover,
.btn.btn-primary:focus:hover {
  background: url('../images/various-ribbons.png') 50% 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.half-stache {
  margin: 20px 0 0;
}
.half-stache.pink {
  width: 97px;
  height: 15px;
  background: url('../images/half-stache-pink-one.png') no-repeat;
}
.fixed {
  position: fixed;
  width: 100%;
}
::selection {
  background: #f2e9e1;
  /* Safari */

}
::-moz-selection {
  background: #f2e9e1;
  /* Firefox */

}
/*
 * General Form Styles
 */
form select {
  width: 100%;
}
form input[type="text"],
form input[type="email"],
form textarea {
  border: none;
  background-color: #DEDEDE;
  color: #666;
  padding: 7px;
  font-family: 'Raleway', serif;
  font-weight: normal;
  border-radius: 0;
}
form .formHelperText {
  display: block;
  font-size: 13px;
}
form .form-row-single {
  width: 100%;
  *zoom: 1;
}
form .form-row-single:before,
form .form-row-single:after {
  display: table;
  content: "";
  line-height: 0;
}
form .form-row-single:after {
  clear: both;
}
form .form-row-single div {
  float: left;
  margin-right: 10px;
}
/**
 * General Layout Styles
 */
html {
  overflow-y: auto !important;
}
html body {
  background-color: #edeeed !important;
}
html body #page header#navbar {
  margin: 0 auto;
  padding: 86px 0 15px 0;
  background-color: #edeeed;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
html body #page header#navbar .navbar-inner {
  margin: 0 auto;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
html body #page header#navbar .navbar-inner .site-title {
  text-indent: -9999px;
  background: url('../images/litton-ludwig-logo.png') no-repeat;
  float: left;
  display: block;
  width: 163px;
  height: 44px;
  padding: 0;
  margin: -6px 0 0 0;
}
html body #page header#navbar .navbar-inner .shoppingcart a {
  background: url('../images/cart-icon.png') no-repeat;
  float: right;
  width: 27px;
  height: 21px;
  text-indent: -9999px;
  margin-top: 15px;
}
html body #page #main {
  overflow: hidden;
  margin: 141px 0 0 0;
  padding-top: 0;
  z-index: 1;
  position: relative;
}
html body footer#colophon {
  z-index: 9999;
  background: none;
  overflow: hidden;
  position: relative;
}
html body footer#colophon h3.explore-title {
  position: absolute;
  right: 381px;
  margin: 37px 0 0 0;
  width: 105px;
  background: url('../images/explore-text-3.png') no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
html body footer#colophon #menu-footer-menu {
  min-width: 425px;
  background: url('../images/footer-ribbon-2.png') no-repeat;
  padding: 20px 20px 20px 50px;
  margin: 45px 0 0 0;
}
html body footer#colophon #menu-footer-menu li {
  list-style: none;
}
html body footer#colophon #menu-footer-menu li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
html body footer#colophon #menu-footer-menu li a[title='Facebook'] {
  width: 25px;
  height: 28px;
  display: block;
  padding: 0;
  margin: -2px 0 0 10px;
  background: url('../images/social-icons.png') no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
html body footer#colophon #menu-footer-menu li a[title='Instagram'] {
  width: 25px;
  height: 28px;
  display: block;
  padding: 0;
  margin: -2px 0 0 10px;
  background: url('../images/social-icons.png') -28px 0 no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
html body footer#colophon #menu-footer-menu li a[title='Pinterest'] {
  width: 25px;
  height: 28px;
  display: block;
  padding: 0;
  margin: -2px 0 0 10px;
  background: url('../images/social-icons.png') -56px 0 no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*
 * Default: Page
 */
body.page-template-default.page-not-home p {
  font-size: 14px;
  font-family: 'Source Sans Pro', 'serif';
  font-weight: normal;
  color: #444;
}
body.page-template-default.page-not-home #main {
  min-height: 600px;
  background-color: #fefefd;
}
body.page-template-default.page-not-home article {
  position: relative;
  z-index: 10;
}
body.page-template-default.page-not-home article .customer-service {
  width: 516px;
  height: 111px;
  float: left;
}
body.page-template-default.page-not-home article .customer-service img {
  width: 100%;
}
body.page-template-default.page-not-home article .attachment-post-thumbnail {
  position: absolute;
  margin: 0 0 0 125px;
  z-index: -99;
  right: 0;
}
body.page-template-default.page-not-home article .entry-header {
  clear: left;
  margin-top: 7px;
  margin-left: 45px;
}
body.page-template-default.page-not-home article .entry-header h1 {
  font-family: 'Georgia', serif;
  font-weight: normal;
  text-transform: lowercase;
  font-style: italic;
  color: #777;
}
body.page-template-default.page-not-home article .entry-content {
  clear: left;
  margin-top: 0px;
  margin-left: 45px;
  margin-bottom: 25px;
}
body.page-template-default.page-not-home article .entry-content h2 {
  font-family: 'Learning Curve Pro', 'serif';
  font-weight: normal;
  color: #f0bdb7;
}
body.page-template-default.page-not-home article .entry-content p {
  color: #888;
}
body.page-template-default.page-not-home form {
  text-transform: uppercase;
}
body.page-template-default.page-not-home form p {
  color: #888;
  font-size: 13px;
}
body.page-template-default.page-not-home form input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  color: #444;
}
body.page-template-default.page-not-home form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  color: #444;
}
body.page-template-default.page-not-home form #send-mail {
  min-height: 32px;
  width: 200px;
  color: #FFF;
  padding: 0;
  text-transform: lowercase;
}
body.page-template-default.page-not-home div.wpcf7-validation-errors {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #e23c5a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}
body.page-template-default.page-not-home .wpcf7-not-valid-tip {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #e23c5a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #e23c5a;
  top: -11px;
  right: 0;
  left: auto;
  min-width: 150px;
  width: auto;
}
/**
 * Front Page
 */
body.home #main .background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  z-index: -9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.home i.tab.brown {
  width: 10px;
  height: 100%;
  background-color: #603737;
  position: absolute;
  left: 0;
  top: 0;
}
body.home #menu-highlight-menu {
  position: absolute;
  right: 0;
  bottom: 50%;
}
body.home #menu-highlight-menu li {
  list-style: none;
  clear: both;
}
body.home #menu-highlight-menu li a {
  color: #FFF;
  padding: 8px 10px 8px 22px;
  background-color: rgba(44, 44, 44, 0.6);
  min-width: 120px;
  display: block;
  position: relative;
  margin-bottom: 8px;
}
body.home #primary {
  position: relative;
  min-height: 600px;
}
body.home .minster-type-treatment {
  position: absolute;
  right: 25px;
  bottom: 60px;
}
body.home .minster-type-treatment h1 {
  font-family: 'Learning Curve Pro', 'serif';
  font-weight: normal;
  font-size: 95px;
  color: #FFF;
  margin-bottom: 20px;
}
body.home .minster-type-treatment span.minster-flair {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 102px;
  float: left;
  display: block;
  background: url('../images/minster-flair.png') no-repeat;
}
body.home .minster-type-treatment span.subtitle {
  font-family: 'Ostrich Light', 'serif';
  font-weight: normal;
  text-transform: uppercase;
  font-size: 34px;
  color: rgba(255, 255, 255, 0.6);
  float: right;
  margin-right: 10px;
}
body.home .minster-type-treatment a.btn-primary {
  margin: 18px auto 0;
}
/**
 * Single Products Page
 * Note: Most styles here are for the Minster bag in particular
 */
body.single-products #page #main {
  background-color: #fefefd;
}
body.single-products #page #main #content article {
  position: relative;
}
body.single-products #page #main #content article .product-header {
  width: 350px;
  margin-top: 130px;
  position: fixed;
}
body.single-products #page #main #content article .product-header .product-title {
  font-family: 'Learning Curve Pro', 'serif';
  font-weight: normal;
  font-size: 84px;
  color: #603737;
  margin: 0 0 -7px 0;
}
body.single-products #page #main #content article .product-header .product-subtitle {
  font-family: 'Ever After', 'sans-serif';
  font-weight: normal;
  color: #e23c5a;
  text-transform: uppercase;
  letter-spacing: 5px;
  background: url('../images/light-gray-ribbon.png') no-repeat;
  width: 600px;
  text-align: center;
  margin: 0 0 15px -142px;
  padding: 14px 0 0 0;
  font-size: 28px;
}
body.single-products #page #main #content article .product-header .product-details {
  font-family: 'Source Sans Pro', 'serif';
  font-weight: normal;
  font-size: 17px;
  line-height: 1.4;
  font-weight: 300;
  color: #555;
  background: rgba(255, 255, 255, 0.4);
  padding: 15px;
  margin-left: -15px;
}
body.single-products #page #main #content article .product-header .product-specifications {
  margin: 0;
  padding: 0;
}
body.single-products #page #main #content article .product-header .product-specifications li {
  list-style: none;
}
body.single-products #page #main #content article .product-header .product-specifications li a {
  font-family: 'Source Sans Pro', 'serif';
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 600;
  color: #444;
}
body.single-products #page #main #content article .product-content {
  font-family: 'Source Sans Pro', 'serif';
  font-weight: normal;
  background-color: rgba(228, 225, 219, 0.6);
  width: 170px;
  position: fixed;
  padding: 25px;
  margin: 110px 0 0 745px;
}
body.single-products #page #main #content article .product-content h3.product-qty-title {
  float: left;
  margin: 4px 6px 0 0;
}
body.single-products #page #main #content article .product-content h3 {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  text-transform: lowercase;
  font-weight: normal;
  clear: both;
}
body.single-products #page #main #content article .product-content hr {
  border-bottom: none;
  border-top: 1px dotted #bcb1a1;
  margin-top: 17px;
}
body.single-products #page #main #content article .product-content select {
  width: 50px;
  margin: 0 0 10px 0;
}
body.single-products #page #main #content article .product-content .product-cost {
  font-family: 'Georgia', serif;
  font-weight: normal;
  display: block;
  color: #e23c5a;
  font-size: 28px;
  margin: 0 0 11px 0;
  padding-bottom: 40px;
  border-bottom: 1px dotted #bcb1a1;
}
body.single-products #page #main #content article .product-content a#addToCart {
  width: 160px;
}
body.single-products #page #main #content article .product-scroll {
  width: 960px;
  margin: 0 auto;
}
body.single-products #page #main #content article .product-scroll img {
  width: 100%;
}
body.single-products #page #main #content article .lookbook-container {
  position: fixed;
  left: 163px;
  bottom: 50px;
}
body.single-products #page #main #content article .lookbook-container a {
  font-family: 'Source Sans Pro', 'serif';
  font-weight: normal;
  padding-top: 3px;
  padding-left: 35px;
  color: #e23c5a;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: url('../images/mini-arrow.png') no-repeat;
}
body.single-products .jquery-color-selection {
  *zoom: 1;
}
body.single-products .jquery-color-selection:before,
body.single-products .jquery-color-selection:after {
  display: table;
  content: "";
  line-height: 0;
}
body.single-products .jquery-color-selection:after {
  clear: both;
}
body.single-products .jquery-color-selection ul {
  margin: 0;
}
body.single-products .jquery-color-selection ul li {
  list-style: none;
}
body.single-products .jquery-color-selection ul li a {
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding: 8px 10px;
}
body.single-products .jquery-color-selection ul li a.white {
  background-color: #FFF;
  color: #FFF;
}
body.single-products .jquery-color-selection ul li a.black {
  background-color: #000;
  color: #000;
}
body.single-products .jquery-color-selection ul li a.taupe {
  background-color: #bcb1a1;
  color: #bcb1a1;
}
body.single-products .jquery-color-selection ul li a.selected {
  color: #FFF;
  font-family: 'Raleway', serif;
  font-weight: normal;
  font-size: 12px;
}
body.single-products .jquery-color-selection ul li a:hover {
  text-decoration: none;
}
/**
 *	Shopping Cart Styles
 */
a.shoppingcartshow {
  cursor: pointer;
}
body .popover.bottom {
  position: fixed;
  top: 174px !important;
  margin-top: -15px;
  margin-left: -164px;
  min-width: 290px;
  max-width: none;
  background: rgba(228, 225, 219, 0.9);
  border: none;
  z-index: 9999;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
body .popover.bottom .arrow {
  right: 10px;
  left: auto;
  border-bottom-color: rgba(228, 225, 219, 0.9);
}
body .popover.bottom .arrow:after {
  border-bottom-color: rgba(228, 225, 219, 0.9);
  opacity: 0.9;
}
body .popover-content {
  font-family: 'Raleway', serif;
  font-weight: normal;
  font-size: 16px;
  font-weight: 300;
  padding: 19px 24px 15px 25px;
}
body .popover-content h1 {
  margin: 0 0 20px 0;
  color: #666;
  font-family: 'Georgia', sans-serif;
  font-weight: normal;
  font-size: 48px;
  font-style: italic;
  text-transform: lowercase;
}
body .popover-content hr {
  border-bottom: none;
  border-top: 1px dotted #FFF;
}
body .popover-content .checkout {
  margin: 0 auto;
}
body .popover-content .shopping-cart-product {
  margin: 10px 0;
  color: #666;
}
body .popover-content .shopping-cart-product .product-meta-title {
  display: none;
}
body .popover-content .shopping-cart-product .product-color {
  text-transform: capitalize;
}
body .popover-content .shopping-cart-product a.btn.remove {
  background: none;
  border: none;
  color: #666;
  padding: 0;
  text-shadow: none;
  box-shadow: none;
  margin: -5px 0 0 10px;
}
body .popover-content .product-subtotal {
  display: none;
}
body .popover-content .checkout-totals {
  display: none;
}
/**
 *	Checkout Modal
 */
#checkoutModal {
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 40px 100px 100px 100px;
  z-index: 99999;
  border-radius: 0;
  border: none;
  overflow-y: scroll;
  overflow-x: hidden;
  moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../images/bg-radial-gradient-one.png') no-repeat center center fixed #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#checkoutModal .close {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 50px;
}
#checkoutModal .container {
  position: relative;
}
#checkoutModal .modal-header,
#checkoutModal .modal-body,
#checkoutModal .modal-footer {
  float: left;
  clear: left;
  width: 620px;
  border: none;
  background: none;
  box-shadow: none;
}
#checkoutModal .modal-header {
  margin: 30px 0 0 0;
}
#checkoutModal .modal-header .step-count {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 20px;
  font-family: 'Georgia', serif;
  font-weight: normal;
  color: rgba(159, 125, 104, 0.6);
}
#checkoutModal .modal-header h3 {
  color: #72553f;
  font-family: 'Georgia', sans-serif;
  font-weight: normal;
  font-size: 48px;
  font-style: italic;
  text-transform: lowercase;
}
#checkoutModal .modal-body {
  color: #72553f;
  font-family: 'Raleway', serif;
  font-weight: normal;
  max-height: none;
}
#checkoutModal .modal-body form label {
  color: #72553f;
  text-transform: uppercase;
  font-size: 12px;
}
#checkoutModal .modal-body form legend {
  font-family: 'Georgia', serif;
  font-weight: normal;
  text-transform: lowercase;
  font-style: italic;
  color: #72553f;
  margin-bottom: 15px;
}
#checkoutModal .modal-body form #shippingIsDifferent {
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}
#checkoutModal .modal-body form input.address {
  width: 80%;
}
#checkoutModal .modal-body form input.zip-code {
  max-width: 60px;
}
#checkoutModal .modal-body form input.state {
  max-width: 45px;
}
#checkoutModal .modal-body form input.country {
  max-width: 45px;
}
#checkoutModal .modal-footer {
  padding-top: 0;
}
#checkoutModal .modal-footer button.btn-primary {
  height: 31px;
  margin: 0;
}
#checkoutModal .modal-footer .processing-spinner {
  float: right;
}
#checkoutModal .checkoutReview .shopping-cart-product {
  color: #72553f;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(114, 85, 63, 0.1);
  font-size: 18px;
}
#checkoutModal .checkoutReview .shopping-cart-product .product-title {
  color: #72553f;
  display: block;
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 7px;
}
#checkoutModal .checkoutReview .shopping-cart-product .pipe {
  color: rgba(159, 125, 104, 0.30000000000000004);
}
#checkoutModal .checkoutReview .shopping-cart-product .product-color {
  text-transform: capitalize;
}
#checkoutModal .checkoutReview .shopping-cart-product .product-cost {
  position: absolute;
  right: 57px;
}
#checkoutModal .checkoutReview .shopping-cart-product .btn.remove {
  float: right;
  background: none;
  border: none;
  color: #666;
  padding: 0;
  text-shadow: none;
  box-shadow: none;
  margin: -5px 0 0 10px;
}
#checkoutModal .checkoutReview .shopping-cart-product .product-title + .pipe {
  display: none;
}
#checkoutModal .checkoutReview .shopping-cart-product .product-qty + .pipe {
  display: none;
}
#checkoutModal .checkoutReview .shopping-cart-product .product-cost + .pipe {
  display: none;
}
#checkoutModal .checkoutReview .shopping-cart-product .product-subtotal {
  display: none;
}
#checkoutModal .checkoutReview .checkout-totals {
  float: right;
  font-size: 18px;
  margin-right: 40px;
}
#checkoutModal .checkoutReview .checkout-totals div {
  margin-bottom: 5px;
}
#checkoutModal .checkoutReview .checkout-totals .total-title {
  margin-right: 10px;
  font-size: 14px;
}
#checkoutModal .checkoutReview .checkout-totals .subtotal .total-title {
  margin-right: 43px;
}
#checkoutModal .checkoutReview .checkout-totals .total {
  font-weight: 600;
}
#checkoutModal .checkoutReview .checkout-totals .total .total-title {
  margin-right: 65px;
  font-weight: normal;
}
#checkoutModal .modal-body .cc-icons {
  *zoom: 1;
  margin-bottom: 15px;
}
#checkoutModal .modal-body .cc-icons:before,
#checkoutModal .modal-body .cc-icons:after {
  display: table;
  content: "";
  line-height: 0;
}
#checkoutModal .modal-body .cc-icons:after {
  clear: both;
}
#checkoutModal .modal-body .cc-icons .cc-icon {
  width: 40px;
  height: 25px;
  float: left;
  background: url('../images/cc-logos.png') no-repeat;
}
#checkoutModal .modal-body .cc-icons .cc-icon.visa {
  background-position: 0 -173px;
}
#checkoutModal .modal-body .cc-icons .cc-icon.visa.bw {
  background-position: 0 -148px;
}
#checkoutModal .modal-body .cc-icons .cc-icon.discover {
  background-position: 0 -124px;
}
#checkoutModal .modal-body .cc-icons .cc-icon.discover.bw {
  background-position: 0 -99px;
}
#checkoutModal .modal-body .cc-icons .cc-icon.mastercard {
  background-position: 0 -75px;
}
#checkoutModal .modal-body .cc-icons .cc-icon.mastercard.bw {
  background-position: 0 -50px;
}
#checkoutModal .modal-body .cc-icons .cc-icon.amex {
  background-position: 0 -25px;
}
#checkoutModal .modal-body .cc-icons .cc-icon.amex.bw {
  background-position: 0 0;
}
#checkoutModal .modal-body .cc-icons .cc-icon.jcb {
  background-position: 0 -222px;
}
#checkoutModal .modal-body .cc-icons .cc-icon.jcb.bw {
  background-position: 0 -198px;
}
#checkoutModal .modal-footer .paypal-checkout {
  float: left;
  width: 150px;
  margin: 16px 0 0 10px;
  opacity: 0.5;
  cursor: pointer;
}
#checkoutModal .modal-footer .paypal-checkout:hover {
  opacity: 1.0;
}
#checkoutModal .modal-footer .submitPayment {
  float: left;
}
#checkoutModal .modal-body .checkoutProcessing .spinner-wrapper.hero {
  width: 400px;
  text-align: center;
}
#checkoutModal .modal-body .checkoutProcessing .spinner-wrapper.hero img {
  margin: 0 auto;
}
#checkoutModal .modal-body .checkoutProcessing p {
  margin: 20px 0;
  max-width: 400px;
  text-align: center;
}
#checkoutModal .modal-header .checkoutResult h3 {
  margin-top: 15px;
}
#checkoutModal .modal-body .checkoutResult .result-wrapper {
  width: 488px;
  text-align: center;
  margin: 15px 0;
}
#checkoutModal .modal-body .checkoutResult .result-wrapper img {
  margin: 0 auto;
}
#checkoutModal .modal-body .checkoutResult p {
  margin: 20px 0;
  max-width: 400px;
  padding: 0 44px;
  text-align: center;
}
#checkoutModal .modal-footer .checkoutResult {
  width: 488px;
}
#checkoutModal .modal-footer .checkoutResult a {
  margin: 0 auto;
}
#checkoutModal .watercolor-blob {
  z-index: -99;
  position: absolute;
  opacity: 0.8;
}
#checkoutModal .watercolor-blob.pink {
  width: 425px;
  height: 405px;
  top: -30px;
  left: 80px;
  background: url('../images/watercolor-blob-pink.png') no-repeat;
}
#checkoutModal .watercolor-blob.pink.bottom {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  position: fixed;
}
#checkoutModal .watercolor-blob.gold {
  width: 370px;
  height: 479px;
  top: -20px;
  left: -40px;
  background: url('../images/watercolor-blob-gold.png') no-repeat;
}
#checkoutModal .watercolor-blob.gold.bottom {
  top: auto;
  left: auto;
  bottom: -210px;
  right: -35px;
  position: fixed;
}
#checkoutModal .watercolor-blob.gray {
  width: 183px;
  height: 154px;
  top: 20px;
  left: -60px;
  background: url('../images/watercolor-blob-gray.png') no-repeat;
}
#checkoutModal .watercolor-blob.gold-large {
  width: 370px;
  height: 479px;
  bottom: -80px;
  left: -400px;
  background: url('../images/watercolor-blob-gold-large.png') no-repeat;
}
#checkoutModal .stamp-watermark {
  position: absolute;
  width: 193px;
  height: 105px;
  right: 0;
  top: 350px;
  background: url('../images/stamp-watermark-one.png') no-repeat;
  z-index: 8;
}
#checkoutModal .tilted-frame {
  position: absolute;
  right: 150px;
  top: 30px;
  width: 462px;
  height: 575px;
  background: url('../images/tilted-frame-v2.png') no-repeat;
  z-index: 9;
}
#checkoutModal .tilted-frame-deuce {
  position: absolute;
  right: 0;
  top: 300px;
  width: 352px;
  height: 372px;
  background: url('../images/tilted-frame-deuce.png') no-repeat;
  z-index: 1;
}
#checkoutModal .services-used-container {
  position: absolute;
  left: 210px;
  bottom: 25px;
  z-index: -99;
  *zoom: 1;
}
#checkoutModal .services-used-container:before,
#checkoutModal .services-used-container:after {
  display: table;
  content: "";
  line-height: 0;
}
#checkoutModal .services-used-container:after {
  clear: both;
}
#checkoutModal .services-used-container .services-used {
  float: left;
}
#checkoutModal .services-used-container .services-used span {
  font-size: 12px;
}
#checkoutModal .services-used-container .services-used i {
  opacity: 0.5;
  display: block;
  width: 150px;
  height: 45px;
  float: right;
}
#checkoutModal .services-used-container .services-used i.stripe-icon {
  background: url('../images/stripe-outline.png') no-repeat;
}
/**
 * Checkout Styles
 */
input.error {
  border: 1px solid #e23c5a !important;
}
/*
 * Media Queries
 */
@media (min-width: 1400px) {
  body .navbar-fixed-top .container,
  body .container {
    width: 1280px;
  }
  body #page {
    margin: 0 auto;
  }
  body header#navbar .site-title {
    margin: 0;
  }
  body header#navbar .nav {
    margin-right: 0;
  }
  body.single-products #page #main #content article .product-header {
    margin-left: 17px;
  }
  body.single-products #page #main #content article .product-content {
    margin: 140px 0 0 1080px;
  }
  body.single-products #page #main #content article .product-scroll {
    margin: 0 auto;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  body .navbar-fixed-top .container,
  body .container {
    width: 1140px;
  }
  body.single-products #page #main #content article .product-header {
    margin-left: 17px;
  }
  body.single-products #page #main #content article .product-content {
    margin: 140px 0 0 939px;
  }
  body.single-products #page #main #content article .product-scroll {
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  
}
@media (max-width: 979px) {
  body .navbar .container,
  body .container {
    width: 767px;
  }
  body .navbar-inner {
    padding: 0 !important;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0 !important;
  }
  body .navbar .container,
  body .container {
    width: 479px;
  }
  body.home #primary {
    min-height: 440px;
  }
}
@media (max-width: 479px) {
  html body #page header#navbar {
    padding: 30px 0 0 0;
  }
  html body #page header#navbar .navbar-inner .shoppingcart a {
    float: none;
  }
  html body #page #main {
    margin: 104px 0 0 0;
  }
  html body.home .minster-type-treatment {
    position: relative;
    width: 355px;
    bottom: 0;
    right: 0;
    margin: 50px 0 0 25px;
  }
  html body.single-products #checkoutModal {
    padding: 0;
  }
  html body.single-products #checkoutModal .modal-header {
    width: 100%;
  }
  html body.single-products #checkoutModal .modal-body {
    width: 100%;
    max-height: 0;
    min-height: 200px;
  }
  html body.single-products #checkoutModal .modal-footer {
    width: 100%;
  }
  html body.single-products #page #main #content article .product-content {
    margin: 0;
  }
}
