/**
 *	Mixins
 */
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.capitalize {
  text-transform: capitalize;
}
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.no-text {
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
}
/**
 * Global	Fonts
 */
#font-family .oswald {
  font-family: 'Oswald', 'sans-serif';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#font-family .source-sans-pro {
  font-family: 'Source Sans Pro', 'serif';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#font-family .georgia {
  font-family: 'Georgia', serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#font-family .josefin {
  font-family: 'Josefin Sans', sans-serif !important;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/**
 * Colors
 */
/**
 * Forms
 */
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: red !important;
}
/**
 * Fancy Stuff
 */
.spinner {
  width: 30px;
  height: 30px;
  background-color: #9bd2cb;
  display: block;
  float: right;
  margin-right: 20px;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}
.spinner.medium {
  width: 80px;
  height: 80px;
  float: none;
  margin: 40px auto;
}
.spinner.large {
  width: 130px;
  height: 130px;
  float: none;
  margin: 40px auto;
}
.overlay.loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.9);
}
.overlay .spinner {
  margin-top: 25%;
}
.overlay h4 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #737a7d;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif !important;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
