/*
Diamond Specific Styles
*/

@import "../../bedrock/inc/less/bedrock-variables.less"; // Replace this line with your new variables, if you like.
@import "../../bedrock/inc/bootstrap/less/mixins.less";
@import "../../bedrock/inc/bootstrap/less/modals.less";
@import "../../bedrock/inc/bootstrap/less/tooltip.less";
@import "../../bedrock/inc/bootstrap/less/popovers.less";

/*
 * Global Styles
 */
.pipe { color: @grayLighter; padding: 0 7px; }
a.btn:visited { color: @white; } // Prevents buttons from turning purple :(

/*
 * Shopping Cart Styles
 */
 .shoppingcartshow { cursor: pointer; }
 .shopping-cart-product {
 	 .product-color { text-transform: capitalize; }
 }
 .clearcart { cursor: pointer; }

/*
 * Checkout Styles
 */

// TEMP
.popover { min-width: 290px; }
.popover-content {
	.product-subtotal { display: none; }
	.checkout-totals { display: none; }
}

/*
 * Media Queries
 */
@media (max-width: 979px) { }
