/**
 * Diamond Specific Styles
 */

@import "mixins-variables.less";
@import "diamond-style-variables.less"; // Replace this line with your new variables, if you like.
@import "../../bedrock/inc/bootstrap/less/mixins.less";
@import "../../bedrock/inc/bootstrap/less/modals.less";
@import "../../bedrock/inc/bootstrap/less/tooltip.less";
@import "../../bedrock/inc/bootstrap/less/popovers.less";
@import "../../bedrock/inc/bootstrap/less/carousel.less";

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/**
 * Custom Fonts
 */
@font-face {
	font-family: 'Ever After';
	src: url('../fonts/everafte-webfont.eot');
	src: url('../fonts/everafte-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/everafte-webfont.woff') format('woff'),
			url('../fonts/everafte-webfont.ttf') format('truetype'),
			url('../fonts/everafte-webfont.svg#ever_afterregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Learning Curve Pro';
	src: url('../fonts/learningcurve_ot-webfont.eot');
	src: url('../fonts/learningcurve_ot-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/learningcurve_ot-webfont.woff') format('woff'),
			url('../fonts/learningcurve_ot-webfont.ttf') format('truetype'),
			url('../fonts/learningcurve_ot-webfont.svg#learning_curve_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#font-family {
	.ever-after {
		font-family: 'Ever After','sans-serif'; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
	}
	.learning-curve {
		font-family: 'Learning Curve Pro','serif'; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
	}
}

/**
 * Global Styles
 */
.navbar-fixed-top .container, .container { width: 980px; }
.pipe { color: @grayLighter; padding: 0 7px; }
a.btn:visited { color: @white; }
img { color: transparent; border-color: transparent; }
.btn.btn-primary, .btn.btn-primary:visited, .btn.btn-primary:focus {
	background: none;
	position: relative;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
	border-radius: 0;
	padding: 0;
	.no-text;
	&.btn-primary-home, &.btn-primary-home:hover {
		width: 205px;
		height: 110px;
		background-image: url('../images/btn-primary-home.png');
		background-repeat: no-repeat;
		background-color: transparent;
		background-position: 0 0;
	}
	// &.btn-primary-add-to-cart, &.btn-primary-add-to-cart:hover {
	// 	// width: 138px;
	// 	height: 45px;
	// 	background: url('../images/btn-primary-add-to-cart.png') no-repeat;
	// }
	// &.btn-primary-sold-out, &.btn-primary-sold-out:hover {
	// 	width: 172px;
	// 	height: 56px;
	// 	background: url('../images/btn-primary-sold-out.png') no-repeat;
	// }
}
// .btn.btn-primary:hover {
// 	background: inherit;
// }
.background-image {
	width: 100%;
	height: 100%;
	position: absolute !important;
	z-index: -9;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.fixed { position: fixed; width: 100%; } // used in tandem with modal to prevent page scrolling
.donation-promo-text { font-size: 13px; display: block; }
.site-title {
	text-indent: -9999px;
	background: url('../images/litton-ludwig-logo.png') no-repeat;
	float: left;
	display: block;
	width: 163px;
	height: 44px;
	padding: 0;
	margin: -6px 0 0 0;
	.no-text();
	&.white {
		background: url('../images/litton-ludwig-logo-white.png') no-repeat;
	}
}
::selection {
	background: @beigeAccent; /* Safari */
}
::-moz-selection {
	background: @beigeAccent; /* Firefox */
}

// CSS Shapes
.shape {
	&.flag {
		-webkit-backface-visibility: hidden;
		position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
		border-left: 34px solid rgba(155, 210, 203, 1.0);
    border-right: 34px solid rgba(155, 210, 203, 1.0);
		border-top: 50px solid rgba(155, 210, 203, 1.0);
		border-bottom: 22px solid rgba(255, 255, 255, 0);
    left: 0;
    top: 0;
		z-index: -99;
		-webkit-transform: rotate(360deg);
		-moz-transform: scale(1.1);
		-o-transform: rotate(360deg); /* Didn't check Opera yet */
		transform: rotate(360deg);
	}
}


@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/**
 *	View Master
 */
.view-master {
	.clearfix();
	.view-master-reel {
		.slide {
			margin: 0 auto;
			float: left;
		}
	}
	.view-master-controls {
		clear: both;
		.view-master-control {
			position: absolute;
			z-index: 9999;
			top: 40%;
			width: 40px;
			height: 40px;
			margin-top: -20px;
			font-weight: 100;
			line-height: 30px;
			color: #CCC;
			text-align: center;
			background: #222222;
			border: 3px solid #ffffff;
			-webkit-border-radius: 23px;
			-moz-border-radius: 23px;
			border-radius: 23px;
			opacity: 0.5;
			height: 80px;
			width: 30px;
			background: rgba(255, 255, 255, 0.2);
			border-radius: 0;
			border: none;
			opacity: 0.9;
			font-size: 90px;
			line-height: 60px;
			&.left { left: 0; }
			&.right { right: 0; }
			&:hover { text-decoration: none; }
		}
	} // .view-master-controls
	.view-master-counters {
		text-align: center;
		left: 50%;
		bottom: 15px;
		position: absolute;
		.view-master-counter {
			background: rgba(255, 255, 255, 0.5);
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			float: left;
			margin-left: 8px;
			&:first-child { margin-left: 0; }
		}
	}
}

/**
 * Page Jump
 */
.jumppage {
	#font-family > .source-sans-pro;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	color: #444;
}

/**
 * 	Custom Carousel Styles
 */

 // General
.carousel { // currently being treated as a full-background gallery
	margin: 0;
	position: static;
	.carousel-inner {
		position: static;
	}
	.carousel-control {
		height: 80px;
		width: 30px;
		color: #FFF;
		background: rgba(255, 255, 255, 0.2);
		border-radius: 0;
		border: none;
		opacity: 0.9;
		font-size: 90px;
		line-height: 60px;
		&.left { left: 0; }
		&.right { right: 0; }
	}
}

/**
 *	Typography
 */
.entry-content {
	ol, ul { color: @gray; }
}

/**
 *	Fluffy Content
 */
.content-fluff {
	display: block;
	&.stamp-watermark {
		width: 395px;
		height: 256px;
		background: url('../images/stamp-watermark.png') no-repeat;
	}
	&.pink-arrow {
		width: 50px;
		height: 54px;
		display: block;
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-image: url('../images/pink-arrows.png');
		&.right { background-position: -20px 0; }
	}
}

/**
 * General Layout Styles
 */
html {
	background-color: @lightGray;
	overflow-y: auto !important;
	body {
		// background-color: @lightGray !important;
		header#navbar {
			margin: 0 auto;
			padding: 36px 0 15px 0;
			background-color: @lightGray;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 1000;
			.navbar-inner {
				margin: 0 auto;
				background-image: none;
				background: none;
				border: none;
				border-radius: 0;
				-moz-box-shadow: none;
				box-shadow: none;
				.container { position: relative; }
				.menu-main-menu-container {
					position: absolute;
					right: 55px;
					top: 15px;
					ul {
						margin: -9px 15px 0 0;
						li {
							list-style: none;
							// Shop Link
							a { position: relative; }
							a[title="shop"] {
								width: 80px;
								height: 83px;
								display: block;
								color: #FFF;
								text-transform: uppercase;
								padding: 15px 0 0 14px;
								#font-family > .oswald;
								font-size: 20px;
								font-weight: 200;
								//background: url('../images/menu-ribbon-shop.png') -2px 0 no-repeat;
								//.no-text();
							}
						}
					}
				}
			}
		}
		#main {
			overflow: hidden;
			margin: 91px 0 0 0;
			padding-top: 0;
			z-index: 1;
			position: relative;
		}
		footer#colophon {
			overflow: hidden;
			position: relative;
			ul#menu-footer-menu {
				min-width: 425px;
				margin: 15px 0;
				float: right;
				li {
					float: left;
					list-style: none;
					&:first-child a { margin: 0; }
					a {
						font-family: 'Open Sans', sans-serif;
						font-size: 9px;
						letter-spacing: 2px;
						text-transform: uppercase;
						color: @darkGray;
						margin-left: 32px;
						display: block;
						&[title='Facebook'] {
							width: 25px;
							height: 24px;
							display: block;
							padding: 0;
							margin: -2px 0 0 20px;
							background: url('../images/social-icons-mint.png') no-repeat;
							.no-text();
						}
						&[title='Instagram'] {
							width: 25px;
							height: 24px;
							display: block;
							padding: 0;
							margin: -2px 0 0 10px;
							background: url('../images/social-icons-mint.png') -36px 0 no-repeat;
							.no-text();
						}
						&[title='Pinterest'] {
							width: 25px;
							height: 24px;
							display: block;
							padding: 0;
							margin: -2px 0 0 8px;
							background: url('../images/social-icons-mint.png') -70px 0 no-repeat;
							.no-text();
						} // pinterest
					} // a
				}
			}
		}
	}
}

/*
 * Default: Page / Archive Page / Customer Service page
 */
body.page-template-templatespage-customer-service-php,
body.page-template-default.page-not-home,
body.post-type-archive.page-not-home,
body.error404.page-not-home {
	a.mobile-menu-toggle {
		color: @grayLight;
		font-size: 23px;
		margin: -9px 14px 0 0;
	}
	ul.mobile-menu {
		a { color: #FFF; }
	}
	p, a, ul li, ol li { font-size: 14px; #font-family > .source-sans-pro; color: #444; }
	#main, #content {
		background-color: #fefefd;
	}
	// General Default Page Styles
	article {
		position: relative;
		z-index: 10;
		// Customer Service
		.customer-service {
			width: 516px;
			height: 111px;
			float: left;
			img { width: 100%; }
		}
		// Featured Image
		.attachment-post-thumbnail { position: absolute; z-index: -99; right: 0; }
		.entry-header {
			h1 { #font-family > .learning-curve; font-size: 47px; font-style: italic; color: @watermelon; }
			clear: left;
		}
		.entry-content {
			h2, h3, h4, h5 { #font-family > .learning-curve; color: @watermelon; }
			p { color: #888; }
			b, i, strong, em { color: @grayDark; }
			a { color: @watermelon; }
			ul li, ol li { color: #888 }
			clear: left;
			margin-top: 0px;
			padding-bottom: 25px;
		}
	}
	form {
		text-transform: uppercase;
		p { color: #888; font-size: 13px; }
		input { width: 100%; padding: 20px 10px; margin-top: 8px; color: #555; }
		textarea { width: 100%; padding: 20px 10px; margin-top: 8px; color: #444; }
		#send-mail {

		}
	}
	// Contact Form Specific Styles
	div.wpcf7-validation-errors {
		padding: 8px 35px 8px 14px;
		margin-bottom: 20px;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		background-color: #fcf8e3;
		border: 1px solid @redAccent;
		-moz-border-radius: 4px;
		border-radius: 4px;
		color: #c09853;
	}
	.wpcf7-not-valid-tip {
		padding: 8px 35px 8px 14px;
		margin-bottom: 20px;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		background-color: #fcf8e3;
		border: 1px solid @redAccent;
		-moz-border-radius: 4px;
		border-radius: 4px;

		color: #b94a48;
		background-color: #f2dede;
		border-color: @redAccent;

		top: -11px;
		right: 0;
		left: auto;
		min-width: 150px;
		width: auto;
	}
	.wpcf7-submit {
		width: 80px;
		height: 62px;
		background: url('../images/btn-primary-send.png') no-repeat;
		padding: 0;
		float: right;
		margin: -82px 0 0 0;
	}
}

/**
 *	"Customer Service" page
 */
body.page-template-templatespage-customer-service-php {
	// Customer Service menu
	div.menu-customer-service-container {
		ul#menu-customer-service {
			margin: 10px auto 30px;
			position: relative;
			width: 470px;
			.clearfix();
			li {
				list-style: none;
				a {
					width: 235px;
					height: 235px;
					float: left;
					background: url('../images/cs-icons.jpg') no-repeat;
					.no-text();
				}
				&:nth-child(2) a { background-position: -235px 0; }
				&:nth-child(3) a { background-position: 0 -235px; }
				&:nth-child(4) a { background-position: -235px -235px; }
			}
		} // #menu-customer-service
	}
}

/**
 *	404 Error Page
 */
body.error404.page-not-home {
	#primary {
		margin: 40px auto;
	}
}

/**
 *	"Shop" page
 *	archive-products.php
 */
body.post-type-archive-products {
	#main {
		max-height: 629px; // Prevents background from getting to short
		/**
		 *	View Master Custom
		 */
		 #productViewer { background: url('../images/sticks-bg.jpg') no-repeat; }
		.slide {
			height: 600px;
			h1.slide-title { #font-family > .learning-curve; font-size: 75px; color: #696969; margin-bottom: 0; }
			h2.slide-subtitle { #font-family > .oswald; text-transform: uppercase; font-weight: 300; font-size: 27px; color: #696969; margin-bottom: 5px; opacity: 0.8; }
			a.slide-view-more { color: #DD4AA7; }
			.slide-content { width: 26%; }
			.slide-image-container {
				width: 74%;
				float: right;
				height: 600px;
				img { height: 100%; width: auto; max-width: none; }
			}
		}

		// Center title slide
		.center-slide {
			z-index: 99;
			position: relative;
			.slide-content {
				height: 40px;
				width: 300px;
				margin: 250px auto 0;
				h1 a {
					display: block;
					color: #232323;
					#font-family > .oswald;
					text-transform: uppercase;
					letter-spacing: 3px;
					width: 100%;
					padding: 61px;
					background-color: fadeout( @taupeAccent, 20% );
				}
				h1.bags {
					float: left;
					width: 100%;
					margin-top: 20px;
					& a > span { font-size: 23px; display: block; text-align: center; }
					& a .content-fluff { display: none; }
				}
				h1.accessories {
					float: left;
					width: 100%;
					& a > span { font-size: 23px; display: block; text-align: center; }
					& a .content-fluff { display: none; }
				}
			}
		}

		// Slide variances
		.bag-slide {
			background: url('../images/transparent-sticks-bg.png') no-repeat;
			.slide-content { float: left; margin-top: 250px; }
			img.featured-image { float: right; }
		}
		.accessories-slide {
			background: url('../images/transparent-sticks-bg.png') no-repeat;
			.slide-content { float: right; margin-top: 250px; }
			img.featured-image { float: left; }
		}
		.first-accessories {
			img.featured-image { margin-left: -200px; }
		}
		.first-bags {
			img.featured-image { margin-right: -200px; }
		}
	}
}

/**
 * Front Page
 */
body.home {
	background: @lightGray;
	header#navbar {
		z-index: 99999;
	}
	#homeCarousel {
		img.item {
			width: 100%;
		}
	}
	#main {
		overflow: visible;
		z-index: 9999;
		background: @lightGray;
		.btn-primary-home { position: absolute; right: 0; bottom: 0; z-index: 99; }
	}
	#primary {
		overflow: visible;
	}
	i.tab.brown {
		width: 10px;
		height: 100%;
		background-color: @brownAccent;
		position: absolute;
		left: 0;
		top: 0;
	}
	// Discover and Shop links
	#menu-highlight-menu {
		position: absolute;
		right: 0;
		bottom: 50%;
		li {
			list-style: none;
			clear: both;
			a {
				color: #FFF;
				padding: 8px 10px 8px 22px;
				background-color: rgba(44,44,44,0.6);
				min-width: 120px;
				display: block;
				position: relative;
				margin-bottom: 8px;
			}
		}
	}
	// "The Minster" hard code type treatment
	.minster-type-treatment {
		position: absolute;
		right: 151px;
		bottom: 54px;
		h1 { #font-family > .learning-curve; font-size: 95px; color: #FFF; margin-bottom: 20px; }
		span.subtitle { #font-family > .oswald; font-weight: 300; text-transform: uppercase; font-size: 34px; float: right; margin-right: 10px; }
	}
}

/**
 * Single Products Page
 * Note: Most styles here are for the Minster bag in particular
 */
body.single-products {
	#page {
		#main {
			min-height: 500px;
			background-color: rgb( 254,254,253 );
			.content-fluff {
				&.stamp-watermark {
					position: absolute;
					bottom: -20px;
					left: -240px;
					z-index: -1;
				}
			}
			#content {
				article {
					position: relative;
					.product-header {
						.product-title {
							#font-family > .learning-curve;
							font-size: 78px;
							color: @brownAccent;
							margin: 0 0 -7px 0;
						}
						.product-subtitle {
							#font-family > .ever-after;
							color: @redAccent;
							text-transform: uppercase;
							letter-spacing: 5px;
							background: url('../images/light-gray-ribbon.png') no-repeat;
							width: 600px;
							text-align: center;
							margin: 0 0 15px -142px;
							padding: 14px 0 0 0;
							font-size: 25px;
						}
						.product-details {
							#font-family > .source-sans-pro;
							font-size: 12px;
							line-height: 1.5;
							font-weight: 300;
							color: #555;
							background: rgba(255, 255, 255, 0.4);
							padding: 15px;
							margin-left: -15px;
						}
					}
					.product-content {
						#font-family > .source-sans-pro;
						width: 172px;
						position: fixed;
						h3.product-qty-title { float: left; margin: 4px 6px 0 0; color: @redAccent; text-transform: uppercase; }
						h3 { margin: 0; font-size: 14px; line-height: 1.5; text-transform: lowercase; font-weight: normal; clear: both; }
						hr { border-bottom: none; border-top: 1px dotted @taupeAccent; margin-top: 11px; }
						select { width: 50px; margin: 0 0 10px 0; }
						.product-price { #font-family > .georgia; display: block; color: @redAccent; font-size: 21px; margin: 0 0 11px 0;  }
						a.add-handbasket-item { width: 172px; height: 56px; }
					}
					.product-scroll {
						width: 500px;
						margin-left: -135px;
						img { width: 100%; }
					}
					.lookbook-link-container {
						margin: 10px 0 0 -34px;
						a {
							#font-family > .source-sans-pro;
							padding-top: 3px;
							padding-left: 35px;
							color: @redAccent;
							text-transform: uppercase;
							letter-spacing: 1px;
							background: url('../images/mini-arrow.png') no-repeat;
						}
					}
				}
			}
		}
	}
	// jQuery Click Color Selection
	.jquery-color-selection {
		.clearfix();
		ul {
			margin: 0;
			li {
				list-style: none;
				a {
					color: #CCC;
					display: block;
					text-align: center;
					text-transform: uppercase;
					margin-bottom: 5px;
					padding: 4px 9px;
					border: 1px solid rgba(255,255,255,0.0);
					&[data-option-sold-out="1"] { cursor: not-allowed; }
					&.selected { border-color: @watermelon; color: #FFF; }
					&:hover { text-decoration: none; }
				}
			}
		}
	}
}

/**
 *	Look Book Styles
 */
#lookBookModal {
	left: 50%;
	z-index: 1050;
	width: 80%;
	margin-left: -40%;
	overflow: hidden;
	z-index: 99999;
	border-radius: 0;
	border: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	.close { font-size: 12px; text-transform: uppercase; margin-top: 35px; }
	.modal-header {
		margin: 0;
		padding: 0 25px;
		border: none;
		h2 {
			margin: 30px 0 24px;
			float: left;
			color: @mint;
			#font-family > .learning-curve;
			font-weight: normal;
			font-size: 68px;
		}
		.content-fluff {
			position: absolute;
			left: -180px;
			top: -10px;
		}
	}
	.modal-body {
		max-height: none;
		// height: 475px;
		width: 100%;
		overflow-y: hidden;
		padding: 0;
		margin: 0;
		z-index: 99;
		.view-master { overflow: hidden; } // hack!
	}
}




/**
 *	0PX AND UP
 */
html body {

	// General
	.navbar-fixed-top .container, .container {
		width: 100%;
		padding: 0px 20px;
	}
	header#navbar { position: relative; padding: 25px 0 15px 0; }
	#main {
		margin-top: 0;
		padding-top: 20px;
		background: #FFF;
	}

	// Footer
	footer#colophon {
		background: @lightGray;
		ul#menu-footer-menu {
			min-width: 0px;
			float: none;
			padding: 0 0 20px;
			li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5) { display: none; }
			li a[title='Facebook'] { margin: -2px 0 0 0; } // remove left margin
		} // ul#menu-footer-menu
	}

	// Mobile Menu
	ul.main-menu { display: none; } // Hide Main Menu
	a.mobile-menu-toggle {
		display: block;
		color: @grayLight;
		font-size: 23px;
		margin: -9px 14px 0 0;
	}
	ul.mobile-menu {
		display: none;
		position: fixed;
		top: 89px;
		left: 0;
		width: 100%;
		li {
			a {
				display: block;
				width: 100%;
				padding: 10px;
				background-color: @mint;
				color: #FFF;
				&:hover { background-color: lighten(@mint, 10%); text-decoration: none; }
			}
		}
	}
} // html body




/**************/

// HOME
html body.home {
	#main {
		margin-top: 0px;
	}
	.btn.btn-primary.btn-primary-home,
	.btn.btn-primary.btn-primary-home:hover,
	.btn.btn-primary.btn-primary-home:focus {
		width: 120px;
		height: 64px;
		background-size: 100%;
	}

	.minster-type-treatment {
		left: 60px;
		right: auto;
		bottom: 30px;
		h1 { font-size: 56px; margin-bottom: 0; }
		span.minster-flair { .no-text(); width: 52px; float: left; display: block; background: url('../images/minster-flair.png') no-repeat; background-size: 100%; }
		span.subtitle { font-size: 16px; color: rgba(255,255,255,0.8); }
	}
}
// SINGLE PRODUCTS
html body.single-products {
	#page #main #content article {
		.product-header, .product-content { position: relative; }
		.product-header { width: 100%; margin-top: 20px; max-width: 400px;
			.lookbook-link { margin-left: 31px; }
		}
		// HACK! Product Content Formatting
		.product-content {
			//width: 100%;
			max-width: 400px;
			margin-top: 15px;
			.clearfix();
			.product-price { border-bottom: none; padding: 0; display: none; }
			hr { display: none; }
			.jquery-color-selection a {
				width: 31%;
				height: 51px;
				float: left;
				margin-left: 3%;
				display: block;
				.no-text();
			}
			.jquery-color-selection ul li:first-child a { margin-left: 0; }
			.product-quantity-container {
				padding-top: 10px;
			}
			a.add-handbasket-item, a#sold-out {
				text-indent: 0;
				width: 93%;
				height: auto;
				text-shadow: none;
				text-transform: uppercase;
				text-align: center;
				padding: 8px 0;
			}
			a.add-handbasket-item { background: @watermelon; }
			a#sold-out { border: 1px solid @watermelon; color: @watermelon; background: none; }
		}
	}
}
// BASIC PAGES
body.page-template-default.page-not-home {
	article { height: 100%; }
	.entry-header { margin-top: 0; }
	h1.entry-title { margin: 0 0 15px 0; }
	.entry-content { width: 90%; }
	.attachment-post-thumbnail { opacity: 0.4; }
	// "CARE INFO"
	&.page-id-123 {
		article {
			.attachment-post-thumbnail { margin-top: -150px; }
		}
	}
	// "ABOUT"
	&.page-id-100 {
		#main { margin: 0; }
		h1.entry-title { margin-top: 20px; }
	}
	// "CONTACT"
	&.page-id-14 {
		.attachment-post-thumbnail { display: none; }
		.entry-content {
			width: 94%;
		}
	}
}
// CUSTOMER SERVICE
body.page-template-templatespage-customer-service-php.page-not-home {
	h1.entry-title { margin-top: 20px; }
	.entry-content { width: 94%; }
}
// SHOP
body.post-type-archive-products {
	#main { margin-top: 0;
		.slide h2.slide-subtitle { margin-top: 0; }
		.bag-slide .slide-content, .accessories-slide .slide-content {
			position: absolute;
			margin-top: 50px;
			width: 85%;
		}
		.accessories-slide .slide-content {
			width: 85%;
			text-align: right;
		}
		.first-bags {
			img.featured-image { margin-right: -300px; }
		}
		.first-accessories {
			img.featured-image { margin-left: -300px; }
		}
	}
}


/**
 * Responsive styles
 * @desc Style declarations for various screen widths
 */

@media ( min-width: 200px ) and ( max-width: 400px ) {
	html body.home {
		.minster-type-treatment {
			left: 50px;
			right: auto;
			bottom: 20px;
			h1 { font-size: 47px; margin-bottom: -6px; }
			span.minster-flair { .no-text(); width: 39px; float: left; display: block; background: url('../images/minster-flair.png') no-repeat; background-size: 100%; }
			span.subtitle { font-size: 14px; color: rgba(255,255,255,0.8); }
		}
	}
}

@media ( min-width: 400px ) { // and up
	// BASIC PAGES
	body.page-template-default.page-not-home {
		article {
			//.attachment-post-thumbnail { right: 30%; }
		}
	}
}

@media ( min-width: 500px ) { // and up
	// GENERAL
	html body {
		#primary { position: relative; }
	}
	// SINGLE PRODUCTS
	html body.single-products {
		#page #main #content article {
			.product-scroll { width: 100%; margin: 0 auto; }
		}
	}
	// HOME
	html body.home {
		// Shop The Bag
		.btn.btn-primary.btn-primary-home,
		.btn.btn-primary.btn-primary-home:hover,
		.btn.btn-primary.btn-primary-home:focus {
			width: 205px;
			height: 110px;
		}
		// "The Minster" hard code type treatment
		.minster-type-treatment {
			position: absolute;
			right: 151px;
			bottom: 54px;
			left: auto;
			h1 { #font-family > .learning-curve; font-size: 95px; color: #FFF; margin-bottom: 20px; }
			span.minster-flair { .no-text(); width: 102px; float: left; display: block; background: url('../images/minster-flair.png') no-repeat; }
			span.subtitle { #font-family > .oswald; font-size: 25px; font-weight: 300; text-transform: uppercase; color: rgba(255,255,255,0.7); float: right; margin-right: 10px; }
		}
	}
	// BASIC PAGES
	body.page-template-default.page-not-home {

	}
	// SINGLE PRODUCTS
	html body.single-products {
		#page #main #content article {
			.product-header, .product-content { position: fixed; }
			.product-header {
				width: 350px;
				margin-top: 48px;
				max-width: none;
				.product-details { padding-top: 0; }
				.lookbook-link-container { margin-top: -15px; }
				.lookbook-link { margin-left: 0; }
			}
			.product-content {
				margin: 95px 0 0 565px;
				max-width: none;
				right: 25px;

			}
			// UNHACK! Product Content Formatting
			.product-content {
				width: 125px;
				.clearfix();
				.product-price { padding-bottom: 20px; border-bottom: 2px dotted @darkGray; }
				.jquery-color-selection a {
					height: 39px;
				}

				a.add-handbasket-item {
					background-size: 100% auto;
					background-image: url('../images/btn-primary-add-to-cart.png');
					background-repeat: no-repeat;
					background-color: transparent;
					width: 125px;
					height: 56px;
					padding: 0;
					.no-text();
				}
				a#sold-out {
					background-size: 100% auto;
					background-image: url('../images/btn-primary-sold-out.png');
					background-repeat: no-repeat;
					background-color: transparent;
					width: 125px;
					height: 56px;
					padding: 0;
					border: none;
					.no-text();
				}


			}
		}
	}
	// BASIC PAGES
	body.page-template-default.page-not-home {
		// "SMALL PRINT"
		&.page-id-119 {
			article {
				.attachment-post-thumbnail { display: none; }
			}
		}
	}
	// SHOP PAGE
	html body.post-type-archive-products {
		#main {
			.center-slide {
				.slide-content {
					margin-top: 0;
				}
			}
		}
	}

} // @media 500px

@media ( min-width: 768px ) { // and up
	html body {
		// GENERAL
		.navbar-fixed-top .container, .container { width: 710px; }
		// MOBILE MENU
		ul.main-menu { display: block; }
		a.mobile-menu-toggle { display: none; }
		header#navbar { position: fixed; padding: 36px 0 15px 0; }
		#main { margin-top: 91px; }
		// FOOTER
		footer#colophon {
			.container { padding: 0; }
			ul#menu-footer-menu {
				min-width: 425px;
				margin: 15px 0;
				float: right;
				li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5) { display: block; }
				li a[title='Facebook'] { margin: -2px 0 0 20px; } // add left margin
			} // ul#menu-footer-menu
		}
	} // html body
	// HOME
	html body.home {
		#main { margin-top: 91px; padding-top: 0; }
	}
	// BASIC PAGES
	body.page-template-default.page-not-home {
		.entry-header { margin-top: 15px; }
		h1.entry-title { margin: 20px 0 15px 0; }
		.entry-content { width: 75%; }
		article {
			.attachment-post-thumbnail { opacity: 1.0; }
		}
		// "SMALL PRINT"
		&.page-id-119 {
			article {
				.attachment-post-thumbnail { right: -100px; opacity: 1.0; display: block; }
			}
		}
		// "CARE INFO"
		&.page-id-123 {
			article {
				.attachment-post-thumbnail { margin-top: 0px; }
			}
		}
		// "RETURNS"
		&.page-id-121 {
			article {
				.attachment-post-thumbnail { right: -86px; }
			}
		}
		// "ABOUT"
		&.page-id-100 {
			#main { margin-top: 140px; }
		}
		// "DELIVERY"
		&.page-id-125 {
			article {
				.attachment-post-thumbnail { opacity: 0.4; }
			}
		}
		&.page-id-14 {
			.entry-content { width: 98%; }
		}
	}
	// SINGLE PRODUCTS
	html body.single-products {
		#page #main #content article {
			.product-content {
				right: auto;
			}
		}
	}
	// BASIC PAGES
	body.page-template-templatespage-customer-service-php,
	body.page-template-default.page-not-home,
	body.post-type-archive.page-not-home {
		#main, #content {
			min-height: 600px;
		}
	}
	// SHOP PAGE
	html body.post-type-archive-products {
		#main {
			.center-slide {
				.slide-content {
					margin-top: 250px;
					h1 a { color: #232323; #font-family > .oswald; text-transform: uppercase; letter-spacing: 3px; background: none; padding: 0; width: auto; }
					h1.bags {
						float: left;
						padding: 0;
						width: auto;
						margin-top: 0;
						& a > span { font-size: 23px; display: block; float: left; clear: both; text-align: right; }
						& a .content-fluff { float: left; border: none; margin: 5px 7px 0 0; display: block; }
					}
					h1.accessories {
						float: right;
						padding: 0;
						width: auto;
						margin-top: 59px;
						& a > span { font-size: 23px; display: block; float: right; clear: both; text-align: right; }
						& a .content-fluff { float: right; border: none; margin: 5px 0 0 7px; background-position: -40px 0; display: block; }
					}
				}
			}


			.bag-slide .slide-content { position: fixed; margin-top: 250px; }
			.first-bags {
				img.featured-image { margin-right: -300px; }
			}
			.accessories-slide .slide-content { position: inherit; text-align: left; width: 26%; margin-top: 250px; }
			.first-accessories {
				img.featured-image { margin-left: -275px; }
			}
		} // main
	}
}

@media ( min-width: 1024px ) { // and up
	html body {
		.navbar-fixed-top .container, .container { width: 970px; } // Adjust grid width
	}
	// SINGLE PRODUCTS
	html body.single-products {
		#page #main #content article {
			.product-header {
				//margin-top: 109px;
			}
			.product-content {

				margin: 95px 0 0 825px;
				hr { display: block; margin: 7px 0 16px; }
			}
		}
	}
	// BASIC PAGES
	body.page-template-default.page-not-home {
		h1 { margin: 71px 0 15px 0; }
		.entry-content { width: 564px; }
		// "SMALL PRINT"
		&.page-id-119 {
			article {
				.attachment-post-thumbnail { right: 0; }
			}
		}
		// "RETURNS"
		&.page-id-121 {
			article {
				.attachment-post-thumbnail { right: 0; }
			}
		}
		// "DELIVERY"
		&.page-id-125 {
			article {
				.attachment-post-thumbnail { opacity: 1.0; }
			}
		}
	}
	// SHOP PAGE
	html body.post-type-archive-products {
		#main {
			.first-bags {
				img.featured-image { margin-right: -400px; }
			}
			.first-accessories {
				img.featured-image { margin-left: -400px; }
			}
		}
	}
}

@media ( min-width: 1240px ) { // and up
	html body {
		header#navbar { position: fixed; padding: 36px 0 15px 0; }
		#main { margin-top: 91px; }

		#primary { margin: 0 auto; width: 1124px; }
		.navbar-fixed-top .container, .container { width: 1124px; }
	}
	// Single Products Page
	html body.single-products {
		#page #main #content article {
			.product-header {
				margin-top: 49px;
			}
			.product-content {
				width: 172px;
				margin: 110px 0 0 932px;
				hr { margin: 11px 0 20px; }

				.jquery-color-selection a {
					width: auto;
					height: auto;
					float: none;
					margin-left: 0;
					display: block;
					text-indent: 0;
				}
				.jquery-color-selection ul li:first-child a { margin-left: 0; }
				a.add-handbasket-item { width: 172px; }
				a#sold-out { width: 172px; }
			}
		}
	}
}









/**
 * Don't delete this just yet ... sorry!
 */

@media ( max-width: 400px ) {
	// SINGLE PRODUCTS
	html body.single-products {
		#page #main #content {
			article .product-header {
				.product-title { text-align: center; margin: 0 0 -7px -20px; }
				.product-subtitle { margin: 0 0 15px -20px; width: 106%; background-position: center center; }
			}
		}
	}
}

@media ( max-width: 500px ) {

	/**
	 *	All Products page
	 */
	body.post-type-archive-products {
		#main {
			.slide {
				//overflow: hidden;
				//.slide-content { margin: 0; }
			}
			.center-slide {
				.slide-content { width: auto; margin: 0; }
			}
		}
	}


	/**
	 *	Aux Pages
	 *	About, Customer Service, Contact
	 */

	/**
	 *	Customer Service Page
	 */
	body.page-template-templatespage-customer-service-php {
		.attachment-post-thumbnail { display: none; }
		div.menu-customer-service-container {
			float: none;
			ul#menu-customer-service {
				width: auto;
				li {
					a {
						float: none;
						display: block;
						margin: 0 auto;
					}
				}
			}
		}
	}

}

/**
 *	Retina Screens
 */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.btn.btn-primary, .btn.btn-primary:visited, .btn.btn-primary:focus {
		// background: none;
		// position: relative;
		// -moz-box-shadow: none;
		// box-shadow: none;
		// border: none;
		// border-radius: 0;
		// padding: 0;
		// .no-text;
		// &.btn-primary-home, &.btn-primary-home:hover {
		// 	width: 205px;
		// 	height: 110px;
		// 	background-image: url('../images/btn-primary-home.png');
		// 	background-repeat: no-repeat;
		// }
		&.btn-primary-add-to-cart, &.btn-primary-add-to-cart:hover {
			background-size: 100%;
			background-repeat: no-repeat;
			background-image: url('../images/btn-primary-add-to-cart@2X.png');
		}
		// &.btn-primary-sold-out, &.btn-primary-sold-out:hover {
		// 	width: 172px;
		// 	height: 56px;
		// 	background: url('../images/btn-primary-sold-out.png') no-repeat;
		// }
	}
} // @media

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
     .repeatingPattern {
          background: url(../images/bgPattern@2x.png) repeat;
     }
}

/**
 * Tooltip Styles
 */
.tooltip {
	font-size: 13px;
	.tooltip-inner {
		padding: 15px;
		color: @gray !important;
		background: rgba(237, 238, 237, 0.95);
	}
	.tooltip-arrow {
		//border: none;
		border-left-color: rgba(237, 238, 237, 0.95) !important;
	}
}

/**
 * Hand Basket Custom Styles
 */
.hand-basket, #checkout {
	.hand-basket-content, #review .modal-body {
		#font-family > .josefin;
		h1 {
			#font-family > .josefin;
			color: @darkGray;
		}
		.hand-basket-product {
			#font-family > .source-sans-pro;
		}
	}
}

/**
 * Checkout Styles
 */
#checkout {
  h3 {
    #font-family > .oswald;
    color: @mint;
    font-weight: 300;
		font-size: 21px;
		text-transform: uppercase;
    margin: 0;
  }
	legend {
		#font-family > .oswald;
		color: @mint;
		font-weight: 300;
		font-size: 16px;
		text-transform: uppercase;
		margin: 0 0 10px 0;
	}
}
